.mainContainer {
  padding: 24px;
}

.sectionHeader {
  font-size: 24px;
  font-weight: 600;
}

.sectionDescription {
  font-size: 15px;
  color: rgb(80, 80, 80);
}

.headerRight {
  display: flex;
  gap: 20px;
  align-items: center;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchbar {
  display: flex;
  background-color: white;
  padding: 8px;
}

.searchButton {
  background-color: #2463eb;
  color: white;
  padding: 8px 14px;
  border-radius: 8px;
}

.searchButton:hover {
  background-color: #044dea;
}

.subSectionHeader {
  padding: 24px 24px 12px 24px;
  font-size: 16px;
  font-weight: 600;
}

.patientsTable {
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
  overflow-x: auto;
  width: 100%;
}

.table {
  width: 100%;
  min-width: 800px;
  white-space: nowrap;
}

.tableHeader {
  background-color: white;
  width: 100%;
}

.tableHeaderRow {
  text-align: left;
}

.tableHeaderRow th {
  padding: 16px 24px;
  font-weight: 400;
  font-size: 13px;
  color: rgb(100, 100, 100);
}

.actionHeader {
  text-align: right;
  border-top-right-radius: 10px;
}

.firstHeader {
  border-top-left-radius: 10px;
}

.avatarImage {
  width: 30px;
  height: 30px;
}

.tableDataColumn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 16px;
  padding-left: 24px;
  margin-bottom: 16px;
}

.tableDataFontSize {
  font-size: 14px;
}

.tableRow {
  border-bottom: 1px solid rgb(240, 240, 240);
}

.statusPill {
  background-color: #dcfce7;
  padding: 4px 14px;
  border-radius: 16px;
}

.statusText {
  font-size: 12px;
  color: green;
}

.pendingStatusPill {
  background-color: #fef9c3;
  padding: 4px 14px;
  border-radius: 16px;
}

.pendingStatusText {
  font-size: 12px;
  color: #716800;
}

.lastColumn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: right;
}

.editButton {
  color: blue;
  font-size: 14px;
}

.deleteButton {
  color: red;
  font-size: 14px;
}

.tableFooter {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.entriesContainer {
  font-size: 14px;
  color: gray;
}

.paginationContainer {
  display: flex;
  gap: 8px;
}

.buttonContainer {
  border: 1px solid rgb(200, 200, 200);
  padding: 5px 10px;
  border-radius: 6px;
  color: gray;
  cursor: pointer;
}

.oneContainer {
  border: 1px solid rgb(200, 200, 200);
  padding: 5px 14px;
  border-radius: 6px;
  background-color: #2463eb;
  color: white;
  cursor: pointer;
}
.buttonContainer:hover {
  background-color: rgb(240, 240, 240);
}

.recentContainer {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

.prescriptionContainer {
  background-color: white;
  border-radius: 8px;
  padding: 24px;
  width: 50%;
}

.subHeaderContainer {
  font-weight: 600;
}

.prescriptionHeader {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.dosageContainer {
  font-size: 14px;
  margin-top: 5px;
  color: gray;
}

.prescriptionDate {
  color: gray;
  font-size: 14px;
}

.prescriptionName {
  font-size: 16px;
}

.patientName {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.avatar {
  width: 25px;
  height: 25px;
}

.patient {
  font-size: 14px;
}

.prescriptionCard {
  background-color: #fafafa;
  padding: 16px 16px 16px 16px;
  margin-top: 20px;
  border-radius: 8px;
}

.analyticsCard {
  margin-top: 20px;
  background-color: #fafafa;
  padding: 16px;
  border-radius: 8px;
}

.analyticsHeaderContainer {
  display: flex;
  justify-content: space-between;
}

.analyticsHeader {
  font-size: 14px;
}

.analyticsDate {
  font-size: 14px;
  color: gray;
}

.medicine {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 14px;
}

.medicineBar {
  background-color: #e5e5e5;
  height: 8px;
  margin-top: 10px;
  border-radius: 8px;
}

.medicineActiveBar {
  height: 8px;
  width: 75%;
  background-color: #2563eb;
  border-radius: 8px;
}

.medicineTwoActiveBar {
  height: 8px;
  width: 50%;
  background-color: #2563eb;
  border-radius: 8px;
}

@media screen and (max-width: 800px) {
  .headerContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .headerRight {
    flex-direction: column;
    width: 100%;
  }

  .searchInput {
    width: 100%;
  }

  .searchContainer {
    width: 100%;
    margin-top: 20px;
  }

  .searchButton {
    width: 100%;
    text-align: center;
  }

  .patientsTable {
    overflow-x: auto;
  }

  .table {
    min-width: 800px;
  }

  .rowleftSide {
    width: 30px;
    height: 30px;
  }

  .recentContainer {
    flex-direction: column;
  }

  .prescriptionContainer {
    width: 100%;
  }
}
